@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }
  
  body {
    @apply m-0 p-0 antialiased;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-thin {
    scrollbar-width: thin;
  }
  
  .scrollbar-thin::-webkit-scrollbar {
    width: 10px;
  }
  
  .scrollbar-thin::-webkit-scrollbar-track {
    @apply bg-white/10;
  }
  
  .scrollbar-thin::-webkit-scrollbar-thumb {
    @apply bg-primary-500/50 rounded-md hover:bg-primary-500/70;
  }
}
